<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Stress Due To Covid</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
       
        <label for="Degree of Concentration">Degree of Concentration</label>
        <select name="Degree of Concentration" id="Degree of Concentration">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
    </select>
        <label for="Academic performance">Academic performance</label>
        <select name="Academic performance" id="Academic performance">
        <option value="decrease">Decrease</option>
        <option value="no change">No Change</option>
        <option value="increase">Increase</option>
    </select>      
        <label for="Flight fight response">Flight fight response</label>
        <select name="Flight fight response" id="Flight fight response">
        <option value="aggressive">Aggressive</option>
        <option value="neutral">Neutral</option>
        <option value="passive">Passive</option>
    </select>   
        <label for="Sleep wake disorder">Sleep wake disorder</label>
        <select name="Sleep wake disorder" id="Sleep wake disorder">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>      
        <label for="coronaphobia">coronaphobia</label>
        <select name="coronaphobia" id="coronaphobia">
        <option value="yes">Yes</option>
        <option value="no">No</option>      
          
    </select>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
